body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    background: #ff6b35;
    color: white;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #ffa94d;
}

button:hover {
    background: #ff922b;
}

.detail {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}